{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Home</th>
                <td>{{ entity.home }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ entity.birthDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateupdated</th>
                <td>{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
