{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Evenement {{ event.typeevent.name}}</h1>

    <div class="row">
        <div class="col l6 m12">
            <div class="card">
                <div class="card-image">
                    <div id="map" {% if finalLat and finalLng %}data-lat="{{finalLat}}" data-lng="{{finalLng}}"{% endif %}></div>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

            <div>
                <i class="medium material-icons">today</i>
                {% for date in event.date %}
                    {{ date.date | date('d/m/Y') }}
                {% endfor %}
            </div>
            <div>
                <i class="medium material-icons">today</i>
                {% for place in event.place %}
                    <div class="address" id="{{place.id}}" data-address="{{place.address}}" data-lat="{{place.lat}}" data-lng="{{place.lng}}">
                        {{ place.address }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col l6 m12">
            Description : {{ event.description }}
        </div>
    </div>

    <a href="{{ path('wizem_event_event') }}">
        Back to the list
    </a>
    <a href="{{ path('wizem_event_event_edit', { 'id': event.id }) }}">
        Edit
    </a>

   {{ form(delete_form) }}
   
{% endblock %}
